name: Build and Push Image

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Set up JDK 25
        uses: actions/setup-java@v5.1.0
        with:
          java-version: '25'
          distribution: 'temurin'
          cache: 'maven'

      - name: Build and Push with Jib
        run: |
          ./mvnw clean deploy -Ppush-image -Djib.to.auth.password=${{ secrets.DOCKERHUB_TOKEN }}

  deploy:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: SSH and Redeploy
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          script: |
            echo "${{ secrets.DOCKERHUB_TOKEN }}" | docker login -u coycatz --password-stdin
            cd /path/to/your/project
            docker compose pull backend
            docker compose up -d backend
            docker logout