name: Build and Push Image

on:
  push:
    branches:
      - main

env:
  JAVA_VERSION: '21'
  REGISTRY: ghcr.io
  IMAGE_NAME: ghcr.io/${{ github.repository }}
  IMAGE_TAG: 0.0.1-SNAPSHOT


jobs:
  build-and-push:
    name: Build and Push Docker Image
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v6

      - name: Set up JDK ${{ env.JAVA_VERSION }}
        uses: actions/setup-java@v5.1.0
        with:
          java-version: ${{ env.JAVA_VERSION }}
          distribution: 'temurin'
          cache: 'maven'

      - name: Build and Push with Jib
        run: |
          chmod +x mvnw
          ./mvnw clean package jib:build -Ppush-image \
            -Djib.to.auth.username=${{ secrets.GH_USERNAME }} \
            -Djib.to.auth.password=${{ secrets.GH_TOKEN }}

  deploy-to-production:
    name: Deploy to Production
    needs: build-and-push
    runs-on: ubuntu-latest
    steps:
      - name: SSH Remote Commands
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.DEV_SSH_URL }}
          username: ${{ secrets.DEV_SSH_USERNAME }}
          key: ${{ secrets.DEV_SSH_PK }}
          port: ${{ secrets.DEV_SSH_PORT }}
          script: |
            echo "Starting deployment..."
            # Log in using secrets directly
            echo "${{ secrets.GH_TOKEN }}" | docker login ${{ env.REGISTRY }} -u ${{ secrets.GH_USERNAME }} --password-stdin
            
            # Pull the specific version
            docker pull ${{ env.IMAGE_NAME }}:0.0.1-SNAPSHOT
            
            # Restart the service
            docker compose up -d backend
            
            docker logout ${{ env.REGISTRY }}
            echo "Deployment finished successfully."