name: Build and Push Image

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v6

      - name: Set up JDK 25
        run: |
          # These commands set the Java environment for all subsequent steps
          # Replace /usr/lib/jvm/java-25-openjdk with the actual path on your runner
          echo "JAVA_HOME=/usr/lib/jvm/java-25-openjdk-amd64" >> $GITHUB_ENV
          echo "/usr/lib/jvm/java-25-openjdk-amd64/bin" >> $GITHUB_PATH

      - name: Build and Push with Jib
        env:
          # Using an environment variable is often cleaner for Jib
          JIB_PASSWORD: ${{ secrets.DOCKERHUB_TOKEN }}
        run: |
          chmod +x mvnw
         ./mvnw clean package jib:build -Ppush-image -Djib.to.auth.password=$JIB_PASSWORD
  deploy:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Execute remote deployment commands via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USERNAME }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: ${{ secrets.SSH_PORT }}
          script: |
            echo "Deploying to production..."
            echo "${{ secrets.DOCKERHUB_TOKEN }}" | docker login -u coycatz --password-stdin
            docker compose pull backend
            docker compose up -d backend
            docker logout