name: Build and Push Image

on:
  push:
    branches:
      - main

env:
  JAVA_VERSION: '21'
  REGISTRY: ghcr.io
  IMAGE_NAME: ghcr.io/${{ github.repository }}
  IMAGE_TAG: 0.0.1-SNAPSHOT


jobs:
  build-and-push:
    name: Build and Push Docker Image
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v6

      - name: Set up JDK ${{ env.JAVA_VERSION }}
        uses: actions/setup-java@v5.1.0
        with:
          java-version: ${{ env.JAVA_VERSION }}
          distribution: 'temurin'
          cache: 'maven'

      - name: Build and Push with Jib
        run: |
          chmod +x mvnw
          ./mvnw clean package jib:build -Ppush-image \
            -Djib.to.auth.username=${{ secrets.GH_USERNAME }} \
            -Djib.to.auth.password=${{ secrets.GH_TOKEN }}

  deploy:
    needs: build-and-push
    runs-on:
      group: cyclops
      labels: self-hosted
    steps:
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GH_TOKEN }}

      - name: Pull latest image
        run: docker pull ghcr.io/entwickler-elf/phoenix-java:latest

      - name: Stop and remove existing container
        run: |
          # Stop and remove existing container
          docker stop phoenix-java || true
          docker rm phoenix-java || true

          # Optional: Find any other container using port 80 and stop it
            PORT_OWNER=$(docker ps -q --filter "publish=8090")
            if [ ! -z "$PORT_OWNER" ]; then
              echo "Stopping container $PORT_OWNER which is using port 8090"
              docker stop $PORT_OWNER || true
            fi



      - name: Run new container
        run: |
          docker run -d \
            --name phoenix-java \
            --restart always \
            -p 80:8090 \
            ghcr.io/entwickler-elf/phoenix-java:${{ env.IMAGE_TAG }}

          sleep 5
          if [ "$(docker inspect -f '{{.State.Running}}' phoenix-java)" != "true" ]; then
            echo "Container failed to start. Logs:"
            docker logs phoenix-java
            exit 1
          fi

      - name: Cleanup old images
        run: docker image prune -f