name: Build and Push Image

on:
  push:
    branches:
      - main

env:
  JAVA_VERSION: '21'
  REGISTRY: ghcr.io
  IMAGE_TAG: 0.0.1-SNAPSHOT
  CONTAINER_PORT: 8080
  DOCKER_NETWORK: phoenix-network


jobs:
  build-and-push:
    name: Build and Push Docker Image
    runs-on: self-hosted
    permissions:
               contents: read
               packages: write

    steps:
      - uses: actions/checkout@v6

      - name: Set lower case owner name
        run: |
          echo "IMAGE_NAME=$(echo ${{ env.REGISTRY }}/${{ github.repository }} | tr '[:upper:]' '[:lower:]')" >> $GITHUB_ENV


      - name: Set up JDK ${{ env.JAVA_VERSION }}
        uses: actions/setup-java@v5.1.0
        with:
          java-version: ${{ env.JAVA_VERSION }}
          distribution: 'temurin'
          cache: 'maven'

      - name: Run Tests
        run: |
          chmod +x mvnw
          ./mvnw test

      - name: Build and Push with Jib
        run: |
          chmod +x mvnw
          ./mvnw clean package jib:build -Ppush-image \
            -Dimage=${{ env.IMAGE_NAME }}:${{ env.IMAGE_TAG }} \
            -Djib.container.ports=${{ env.CONTAINER_PORT }} \
            -Djib.to.auth.username=${{ secrets.GH_USERNAME }} \
            -Djib.to.auth.password=${{ secrets.GH_TOKEN }}


  deploy:
    needs: build-and-push
    runs-on:
      group: cyclops
      labels: self-hosted
    steps:
      - name: Set lower case owner name
        run: |
          echo "IMAGE_NAME=$(echo ${{ env.REGISTRY }}/${{ github.repository }} | tr '[:upper:]' '[:lower:]')" >> $GITHUB_ENV

      - name: Create Docker Network
        run: |
          docker network create ${{ env.DOCKER_NETWORK }} || true
          # Connect the existing angular container to the new network if it isn't already
          docker network connect ${{ env.DOCKER_NETWORK }} phoenix-angular || true

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GH_TOKEN }}

      - name: Pull image
        run: docker pull ${{ env.IMAGE_NAME }}:${{ env.IMAGE_TAG }}

      - name: Stop and remove existing container
        run: |
          docker stop phoenix-java || true
          docker rm phoenix-java || true


      - name: Run new container
        run: |
          docker run -d \
            --name phoenix-java \
            --restart always \
            --network ${{ env.DOCKER_NETWORK }} \
            -e SPRING_PROFILES_ACTIVE=dev \
            -e SPRING_DATASOURCE_URL=jdbc:postgresql://postgres-db:5432/jobhunt \
            -e SPRING_DATASOURCE_USERNAME=${{ secrets.POSTGRES_USER }} \
            -e SPRING_DATASOURCE_PASSWORD=${{ secrets.POSTGRES_PASSWORD }} \
            ${{ env.IMAGE_NAME }}:${{ env.IMAGE_TAG }}

          sleep 5
          if [ "$(docker inspect -f '{{.State.Running}}' phoenix-java)" != "true" ]; then
            docker logs phoenix-java
            exit 1
          fi

      - name: Cleanup old images
        run: docker image prune -f